@define-color accent_color #2ac3de;
@define-color accent_fg_color #2ac3de;
@define-color accent_bg_color #292e42;
@define-color window_bg_color #1a1b26;
@define-color window_fg_color #a9b1d6;
@define-color headerbar_bg_color #1a1b26;
@define-color headerbar_fg_color #a9b1d6;
@define-color popover_bg_color #1a1b26;
@define-color popover_fg_color #a9b1d6;
@define-color view_bg_color #1a1b26;
@define-color view_fg_color #a9b1d6;
@define-color card_bg_color #1a1b26;
@define-color card_fg_color #a9b1d6;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
